.container {
  background-color: black;
  padding: 15px;
  display: grid;
  gap: 5px;
  grid-template-areas: 
    'header header header'
    'sidebar content content'
    'footer footer footer';
  }

.container div {
    font-weight: bold;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid white;
}

.header {
  grid-area: header;
  text-align: center;
  color: white;
}

.header img {
  width: 8%;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  color: white;
}

.sidebar {
  text-decoration: none;
}

.content {
  grid-area: content;
  height: 100vh;
  text-align: justify;
  color: black;
  background-color: white;
}

.footer {
  color: white;
  grid-area: footer;
  text-align: center;
}