body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(17, 26, 117);
    background: -moz-linear-gradient(41deg, rgba(17, 26, 117, 1) 0%, rgba(115, 0, 255, 1) 100%);
    background: -webkit-linear-gradient(41deg, rgba(17, 26, 117, 1) 0%, rgba(115, 0, 255, 1) 100%);
    background: linear-gradient(41deg, rgba(17, 26, 117, 1) 0%, rgba(115, 0, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111a75", endColorstr="#7300ff", GradientType=1);
}

main {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background: rgba(255, 255, 255, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);

    padding: 10px;
}

form img {
    width: 80px;
    height: auto;
    padding: 5px;

    background-color: white;
    border-radius: 22px;
}

form label {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-style: normal;

    margin-top: 10px;
    margin-bottom: 2px;
}

form input {
    width: 200px;
    height: 26px;
    border: none;
    border-radius: 6px;
    background-color: rgb(224, 224, 224);
}

form input::placeholder {
    color: rgb(35, 92, 109);
    padding: 10px 2px;
}

form input:focus {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    outline: none;
}

form #submit {
    margin-top: 20px;
    width: 120px;
    height: 32px;

    background-color: rgb(35, 92, 109);
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 15px;
    letter-spacing: 1px;

    color: white;
}

form #submit:hover {
    background-color: rgb(50, 133, 158);
    box-shadow: 0px 1px black;
}

form a{
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;

    padding: 5px 10px;
    border-radius: 4px;
    font-style: none;
    text-decoration: none;

    background-color: rgb(219, 219, 219);
    color: rgb(58, 58, 58);
}

form a:hover {
    color: black;
    background-color: white;
}